# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# BACKEND API URL
VITE_API_URL="http://localhost:8080/api/v1"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"
